<mat-card>
  
  <div class="pre-loader" *ngIf="playlistData == undefined; else card" >
      <mat-spinner></mat-spinner>
      <h3 mat-subheader>{{ load_status }}</h3>
  </div>
  
  <ng-template #card>
    <mat-card-header>
      <button class="mat-flat-button close-btn" (click)="close($event)"><mat-icon>close</mat-icon></button>
      <img mat-card-avatar src="assets/icon-user.png">
      <mat-card-title>{{ playlistData.name }}</mat-card-title>
      <mat-card-subtitle> {{ playlistData.tracks.total }} musicas</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
    
    </mat-card-actions>
    <mat-card-content>
      <h3 matSubheader>Músicas</h3>
      <mat-list [dragula]='"lista-de-musicas-bag"'>
        <mat-list-item>
          <mat-icon matListIcon class="play-preview">play_arrow</mat-icon>
          <h4 mat-line>Nome da música</h4>
          <p mat-line>Artista, Album</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon class="play-preview">play_arrow</mat-icon>
          <h4 mat-line>Nome da música 2</h4>
          <p mat-line>Artista, Album 2</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </ng-template>
</mat-card>
