<mat-card>
  
  <div class="pre-loader" *ngIf="playlist == undefined; else card" >
      <mat-spinner></mat-spinner>
      <h3 mat-subheader>{{ load_status }}</h3>
  </div>
  
  <ng-template #card>
    <mat-card-header>
      <button class="mat-flat-button close-btn" (click)="close($event)"><mat-icon>close</mat-icon></button>
      <img mat-card-avatar src="assets/icon-user.png">
      <mat-card-title>{{ playlist.name }}</mat-card-title>
      <mat-card-subtitle> {{ playlist.tracks_total }} musicas</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
    
    </mat-card-actions>
    <mat-card-content>
      <h3 matSubheader>Músicas</h3>
      <mat-list [dragula]='"lista-de-musicas-bag"'>
        <mat-list-item *ngFor="let musica of playlist.tracks" [id]="musica.id">
          <mat-icon matListIcon class="play-preview">play_arrow</mat-icon>
          <h4 mat-line>{{ musica.name }}</h4>
          <p mat-line>{{ musica.artists_name }}, {{ musica.album_name }}</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </ng-template>
</mat-card>
