$break-small: 450px;
$break-large: 1200px;

mat-card {
  box-sizing: border-box;
  position: relative;
  min-width: 400px;
  max-width: 400px;
  min-height: 100%;
  max-height: 100%;
  margin-right: 16px;
  overflow-y: auto;

  .pre-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
  }

  .play-preview {
    cursor: pointer;
  }

  .close-btn {
    position: absolute;
    top: 24px;
    right: 0;
  }

  svg {
    fill: currentColor;
  }

}

