<div class="container">
  <section class="mat-typography">
    <h1 class=" mat-display-3 headline">Spotify Manager</h1>
    <h2 class="title mat-display-2">Gerencie suas playlists de maneira unica.</h2>
    <p>Nosso app ajuda você a:</p>

    <ul>
      <li>
        Ordernar suas playlists do Spotify apenas clicando e arrastando.
      </li>
      <li>
        Adicionar e remover musicas de suas playlists.
      </li>
      <li>
        Crie paylists de maneira rapida e facil.
      </li>
    </ul>

    <p>
      para começar basta nos dar acesso as suas informações do spotify.
    </p>
    <button
      mat-raised-button
      color="primary"
      (click)="conectar()"
    >Click aqui para começar</button>
  </section>
</div>
