
mat-toolbar {

  .spacer {
    flex: 1 1 auto;
  }
}


mat-sidenav-container {
  height: 91vh;
  box-sizing: border-box;
}

mat-sidenav-content {
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;

}
