<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
  <h1>Spotify Manager</h1>
</mat-toolbar>

<mat-sidenav-container>
  
  <!-- navegação do usuario. Contem as informações pessoais e uma lista com as playlists do mesmo -->
  <mat-sidenav mode="side" [opened]="true" #drawer>
    <app-user-pane></app-user-pane>
  </mat-sidenav>
  
  <mat-sidenav-content dnd-droppable (onDropSuccess)="dropEvent($event)" [dropZones]="['user-pane-item']">
    <div #playlistsContainer id="playlistsContainer"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
