
@import '../node_modules/reset-css/reset.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/theming';


// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto',
  $headline: mat-typography-level(40px, 48px, 500),
  $body-1: mat-typography-level(20px, 24px, 300)
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);


/* definição de estilo da scrollbar do app*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(124, 122, 128, 0.81);
}

/* final: definição de estilo da scrollbar do app*/

/* defininção do estido dos componentes de arastart e soltar */
/*veja: https://github.com/bevacqua/dragula#css*/


// classe usada pelo modulo ng2-dnd.
// aplicada ao item sendo realocado dentro de uma lista ordenavel por ded.
.dnd-sortable-drag {
  background: inherit;

  mat-icon, p, h4 {
    color: gray;
  }

}

/* final: defininção do estido dos componentes de arastart e soltar */
